<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프룻프룻 쇼핑몰</title>

    <!--Open Graph-->
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="프룻프룻 Shopping Mall" />
    <meta property="og:title" content="프룻프룻 Shopping Mall" />
    <meta property="og:description" content="프룻프룻 Shopping Mall 입니다." />
    <meta property="og:image" content="./img/openGraph.png" />
    <meta property="og:url" content="https://prpr-shopping-mall.co.kr" />

    <!--파비콘-->
    <link rel="icon" href="./favicon.ico" />

    <th:block th:insert="~{includes/library}"></th:block>
    <th:block th:insert="~{includes/adminStyle}"></th:block>
    <th:block th:insert="~{includes/adminScripts}"></th:block>


    <script src="/admin/js/addProduct.js" type="text/javascript"></script>

</head>

<body>

    <!-- HEADER -->

    <div th:insert="~{fragment/admin/header :: copy}"></div>

    <section id="admin_product02">
        <form action="/admin/addProduct" method="post" encType="multipart/form-data">
        <div class="inner">
            <div class="title">
                <h2>상품등록</h2>
            </div>

            <div class="admin_product02__wrap">
                <label for="name" class="productName">
                    <p> <span>*</span> 상품명</p>
                    <input type="text" name="name" placeholder="상품명을 입력해주세요." id="name">
                    <p class="wrong__pw" id="productNameCheck"></p>
                </label>

                <label for="categoryId">
                    <p> <span>*</span> 분류</p>
                    <select name="categoryId" id="categoryId">
                        <p>분류</p>
                        <option value="1">봄과일</option>
                        <option value="2">여름과일</option>
                        <option value="3">가을과일</option>
                        <option value="4">겨울과일</option>
                    </select>
                </label>

                <label for="price">
                    <p> <span>*</span> 상품금액</p>
                    <input type="number" name="price" placeholder="0" id="price">
                    원
                </label>

                <label for="discountRate">
                    <p> 상품할인율 </p>
                    <input type="number" name="discountRate" placeholder="0" value=0 id="discountRate">
                    %
                </label>

                <label for="totalPrice" class="totalPrice">
                    <p> 할인적용 후 금액 </p>
                    <input type="number" name="totalPrice" value="0" id="totalPrice" readonly>
                    원
                </label>

                <label for="stockQuantity">
                    <p> <span>*</span> 재고수량 </p>
                    <input type="number" name="stockQuantity" placeholder="0" id="stockQuantity">
                    개
                </label>

                <label for="productPicture" class="productPicture">
                    <p> <span>*</span> 상품이미지 </p>
                    <div>+ 추가</div>
                    <input type="file" name="file" id="productPicture" accept="image/*">
                    <img id="thumbnail" src="./img/이미지위치.png" alt="미리보기 이미지">
                </label>


                <label for="content" class="description">
                    <p> <span>*</span> 상품 상세정보 </p>
                    <input type="text" name="content" id="content">
                </label>

            </div>

            <div class="buttons">
                <button type="button" onclick="location.href='/admin/product'">취소하기</button>
                <button type="submit" id="submit">등록하기</button>
            </div>
        </div>
        </form>
        <div class="txt04" style="display: none;">
            <div class="inner">
                <h4>알림</h4>
                <h5>상품 등록이 완료되었습니다.
                    <a onclick="window.location.href = '/admin/product'">확인</a>
                </h5>

            </div>

        </div>
    </section>
</body>

</html>