<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프룻프룻 쇼핑몰</title>

    <!--Open Graph-->
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="프룻프룻 Shopping Mall" />
    <meta property="og:title" content="프룻프룻 Shopping Mall" />
    <meta property="og:description" content="프룻프룻 Shopping Mall 입니다." />
    <meta property="og:image" content="./img/openGraph.png" />
    <meta property="og:url" content="https://prpr-shopping-mall.co.kr" />

    <!--파비콘-->
    <link rel="icon" href="./favicon.ico" />

    <th:block th:insert="~{includes/library}"></th:block>
    <th:block th:insert="~{includes/adminStyle}"></th:block>
    <th:block th:insert="~{includes/adminScripts}"></th:block>

</head>

<body>

    <!-- HEADER -->
    <div th:insert="~{fragment/admin/header :: copy}"></div>

    <section id="admin_product">
        <div class="inner">
            <div class="title">
                <h2>상품관리</h2>
                <button>
                    <a href="/admin/addProduct">상품등록</a>
                </button>
            </div>

            <div class="box01">
                <ul>
                    <li>
                        전체상품 <span th:text="${count.total_count}"></span>건
                    </li>
                    <li>
                        판매중 <span th:text="${count.status_1_count}"></span>건
                    </li>
                    <li>
                        판매중지 <span th:text="${count.status_2_count}"></span>건
                    </li>
                    <li>
                        품절 <span th:text="${count.status_3_count}"></span>건
                    </li>
                </ul>
            </div>

            <div class="box02">
                <div class="status">
                    <span>게시상태</span>
                    <div class="buttons">
                        <button class="status-btn" value="1">판매중</button>
                        <button class="status-btn" value="2">판매중지</button>
                        <button class="status-btn" value="3">품절</button>
                    </div>
                </div>
                <div class="sort">
                    <span>분류</span>
                    <div class="buttons">
                        <button class="category-btn" value="봄과일">봄과일</button>
                        <button class="category-btn" value="여름과일">여름과일</button>
                        <button class="category-btn" value="가을과일">가을과일</button>
                        <button class="category-btn" value="겨울과일">겨울과일</button>
                    </div>
                </div>
                <div class="search">
                    <span>검색</span>
                    <input type="text" placeholder="상품명 검색" id="searchKeyword">
                    <div class="buttons">
                        <button class="searchBtn">검색</button>
                    </div>
                </div>
            </div>

            <div class="box03">
                <div class="left">
                    <span class="margin">검색결과 <span class="bold" id=search_result th:text="${count.total_count}"></span>건</span>
                    <button id="stop_sale">선택 판매중지</button>
                    <button id="product_delete">선택삭제</button>
                </div>

                <div class="right">
                    <select name="pageSize" id="pageSize">
                        <option value="10">10개씩 보기</option>
                        <option value="30">30개씩 보기</option>
                        <option value="50">50개씩 보기</option>
<!--                        <option value="100개씩 보기">100개씩 보기</option>-->
                    </select>

                    <button>
                        <span class="material-symbols-outlined">description</span>
                        <span>엑셀 다운로드</span>
                    </button>
                </div>
            </div>

            <div class="box04">
                <table class="product-table">
                    <caption class="hidden">상품관리</caption>
                    <thead>
                        <tr>
                            <th scope="col">
                                <input type="checkbox" disabled>
                            </th>
                            <th scope="col">번호</th>
                            <th scope="col">상태</th>
                            <th scope="col">분류</th>
                            <th scope="col">상품명</th>
                            <th scope="col">상품금액</th>
                            <th scope="col">할인율</th>
                            <th scope="col">찜 수</th>
                            <th scope="col">결제횟수</th>
                            <th scope="col">리뷰수</th>
                            <th scope="col">등록일</th>
                            <th scope="col">상품수정</th>
                            <th scope="col">판매중지</th>
                        </tr>
                    </thead>
                    <tbody id="product_list">
                        <tr th:each="product : ${list.list}">
                            <td>
                                <input type="checkbox" id="product_status" th:value="${product.id}">
                            </td>
                            <td th:text="${product.id}"></td>
                            <td th:text="${product.status}"></td>
                            <td th:text="${product.category_name}"></td>
                            <td th:text="${product.name}"></td>
                            <td th:text="${product.price}"></td>
                            <td th:text="${product.discount_rate}"></td>
                            <td>null</td>
                            <td>null</td>
                            <td>null</td>
                            <td th:text="${product.created_at}"></td>
                            <td>
                                <button th:onclick="|location.href='@{/admin/product/{id}/edit(id=${product.id})}'|"
                                        type="button">수정
                                </button>
                            </td>
                            <td>
                                <span th:if="${product.status == '판매중지'}" th:text="${product.updated_at}"></span>
                                <button id="stop_one" th:unless="${product.status == '판매중지'}" th:value="${product.id}">중지</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="pagination" id="pagination">
                <a>
                    <button class="material-symbols-outlined" id="prev">
                        chevron_left
                    </button>
                </a>

                <p class="numbers" id="numbers">
                    <button th:each="i : ${list.navigatepageNums}"
                       th:text="${i}"
                       th:class="${i == list.pageNum} ? 'active'"
                        th:style="${i == list.pageNum} ? ${'background-color:#333; color: #fff'}"
                        th:value="${i}"
                       name="pageNum" id="pageNum">
                    </button>
                </p>

                <a>
                    <button class="material-symbols-outlined" name="next" id="next" th:value="${list.pages}">
                        chevron_right
                    </button>
                </a>
            </div>
        </div>
    </section>


</body>

</html>