<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프룻프룻 쇼핑몰</title>

    <!--Open Graph-->
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="프룻프룻 Shopping Mall" />
    <meta property="og:title" content="프룻프룻 Shopping Mall" />
    <meta property="og:description" content="프룻프룻 Shopping Mall 입니다." />
    <meta property="og:image" content="./img/openGraph.png" />
    <meta property="og:url" content="https://prpr-shopping-mall.co.kr" />

    <!--파비콘-->
    <link rel="icon" href="./favicon.ico" />

    <th:block th:insert="~{includes/library}"></th:block>
    <th:block th:insert="~{includes/style}"></th:block>
<!--    <th:block th:insert="~{includes/scripts}"></th:block>-->
    <script src="/user/js/cart.js"></script>
</head>

<body>

<div th:insert="~{fragment/user/header.html :: copy}"></div>

<input id="userId" type="hidden" th:value="${userId}">

    <div id="cart">
        <div class="inner">

            <h2> 장바구니 </h2>

            <div class="txt">
                <div class="left">
                    <span>전체 <span id="count" th:text="${count}" class="orange"></span>개</span>
                </div>

                <div class="right">
                    <p>01 장바구니</p>
                    <span class="material-symbols-outlined">chevron_right</span>
                    <p>02 주문/결제</p>
                    <span class="material-symbols-outlined">chevron_right</span>
                    <p>03 결제완료</p>
                </div>
            </div>

            <table>
                <tr class="title">
                    <th>
                        <input id="checkAll" type="checkbox" checked>
                    </th>
                    <th scope="col">상품정보</th>
                    <th scope="col">상품금액</th>
                    <th scope="col">상품별 할인</th>
                </tr>

                <tr th:each="cart : ${cartList}">
                    <td>
                        <input name="check" type="checkbox" checked>
                    </td>
                    <td>
                        <div class="td_wrap">
                            <img th:src="${cart.url}">

                            <div class="txt">
                                <span th:text="${cart.name}"></span>
                                <input id="amount" th:value="${cart.amount}" type="hidden">
                                <span>
                                    <button id="plus" th:data-value="${cart.productId}">+</button>
                                    <button th:text="${cart.amount}"></button>
                                    <button id="minus" th:data-value="${cart.productId}">-</button>
                                </span>
                                <input id="max" th:value="${cart.stockQuantity}" type="hidden">
                            </div>

                            <div class="price">
                                <span data-th-text="${#numbers.formatInteger(cart.price, 3, 'COMMA') + '원'}"></span>
                                <input id="price" th:value="${cart.price}" type="hidden">
                                <input id="discount" th:value="${cart.discountRate}" type="hidden">
                                <button id="delete" th:data-value="${cart.productId}">x</button>
                            </div>
                        </div>
                    </td>
                    <td id="productTotal" data-th-text="${#numbers.formatInteger((cart.price*cart.amount), 3, 'COMMA') + '원'}"></td>
                    <td th:text="${cart.discountRate} + '%'"></td>
                    <input id="discountRate" th:value="${cart.discountRate}" type="hidden">
                </tr>

                <tr class="lastTr">
                    <td scope="col" colspan="4" class="lastTrTd">
                        장바구니에 담긴 상품은 최대 15일까지 보관되며 종료되거나 매진될 경우 자동으로 삭제됩니다. <br>
                        적립예정금액은 결제 시 타 쿠폰을 적용하거나 추가 할인을 받을 경우 실제 적립 받는 금액과 달라질 수 있습니다.
                    </td>
                </tr>

                <tr class="totalPrice">
                    <td colspan="2" rowspan="3">
                        <span class="total">총 주문 금액</span>
                    </td>

                    <td>
                        <span class="total02">총 상품금액</span>
                    </td>

                    <td>
                        <span th:if="${totalSum.price == 0}">0원</span>
                        <span th:unless="${totalSum.price == 0}" id="totalPrice" data-th-text="${#numbers.formatInteger(totalSum.price, 3, 'COMMA') + '원'}"></span>
                        <input id="totalSumPrice" th:value="${totalSum.price}" type="hidden">
                    </td>
                </tr>

                <tr class="totalPrice">
                    <td>
                        <span class="total02">즉시 할인 금액</span>
                    </td>

                    <td>
                        <span th:if="${totalSum.discount == 0}">0원</span>
                        <span th:unless="${totalSum.discount == 0}" id="totalDiscount" data-th-text="${'-' + #numbers.formatInteger(totalSum.discount, 3, 'COMMA') + '원'}" ></span>
                        <input id="totalSumDiscount" th:value="${totalSum.discount}" type="hidden">
                    </td>
                </tr>

                <tr class="totalPrice">
                    <td class="br">
                        <span class="total02">배송비</span>
                        <br>
                        <span class="small">(50,000원 이상 무료배송)</span>
                    </td>

                    <td>
                        <span class="delivery" th:if="${totalSum.total >= 50000}">무료</span>
                        <span class="delivery" th:unless="${totalSum.total >= 50000}" th:text="${totalSum.total == 0 ? '0원' : '3,000원'}"></span>

                    </td>
                </tr>

                <tr class="totalPrice">
                    <td colspan="2" class="lastTotalPrice">
                        <span class="total">결제 예상 금액</span>
                    </td>

                    <td class="lastTotalPrice">

                    </td>

                    <td class="lastTotalPrice">
                        <span class="orange" id="total" th:if="${totalSum.total != 0}" data-th-text="${totalSum.total >= 50000 ? #numbers.formatInteger(totalSum.total, 3, 'COMMA') + '원' :
                        #numbers.formatInteger(totalSum.total + 3000, 3, 'COMMA') + '원'}"></span>
                        <span class="orange" th:unless="${totalSum.total != 0}">0원</span>
                        <input id="totalSumTotal" th:value="${totalSum.total}" type="hidden">
                    </td>
                </tr>
            </table>

            <div class="buttons">
                <button onclick="location.href='/'">쇼핑계속하기</button>
                <button>구매하기</button>
            </div>
        </div>
    </div>

</body>

</html>