<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프룻프룻 쇼핑몰</title>

    <!--Open Graph-->
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="프룻프룻 Shopping Mall" />
    <meta property="og:title" content="프룻프룻 Shopping Mall" />
    <meta property="og:description" content="프룻프룻 Shopping Mall 입니다." />
    <meta property="og:image" content="./img/openGraph.png" />
    <meta property="og:url" content="https://prpr-shopping-mall.co.kr" />

    <!--파비콘-->
    <link rel="icon" href="./favicon.ico" />

    <th:block th:insert="~{includes/library}"></th:block>
    <th:block th:insert="~{includes/style}"></th:block>
    <th:block th:insert="~{includes/scripts}"></th:block>
    <script src="/user/js/detail.js"></script>
</head>

<body>

    <!-- HEADER -->
    <div th:insert="~{fragment/user/header.html :: copy}"></div>

    <input id="userId" type="hidden" th:value="${userId}">
    <input id="productId" type="hidden" th:value="${detail.productId}">
    <input id="cartAmount" type="hidden" th:value="${cartAmount == null ? 0 : cartAmount}">

    <div th:insert="~{fragment/user/aside.html :: aside}"></div>

    <section id="detail">
        <div class="inner detail__inner">

            <div class="box01">
                <div class="left">
                    <img th:src="${detail.url}" alt="이미지">
                </div>

                <div class="right">

                    <div class="right__txt01">
                        <h2 th:text="${detail.name}"></h2>
                        <span style="cursor: pointer" th:if="${detail.likeId == 0}" class="material-symbols-outlined" th:data-value="${detail.productId}" id="like_x"
                              onclick="location.href='javascript:void(0)'">favorite</span>
                        <span style="cursor: pointer" th:unless="${detail.likeId == 0}" class="material-icons red__heart" th:data-value="${detail.productId}" id="like_o"
                              onclick="location.href='javascript:void(0)'">favorite</span>
                    </div>

                    <div class="right__txt02">
                        <div class="right__txt02__01">
                            <span th:text="${detail.discountRate} + '%'"></span>
                            <p>
                                <span data-th-text="${#numbers.formatInteger(detail.price, 3, 'COMMA') + '원'}"></span>
                                <input id="price" type="hidden" th:value="${detail.price}">
                                <span data-th-text="${#numbers.formatInteger(detail.afterDiscount, 3, 'COMMA') + '원'}"></span>
                                <input id="afterDiscount" type="hidden" th:value="${detail.afterDiscount}">
                            </p>
                        </div>

                        <div class="right__txt02__02">
                            <p>배송비 3,000원
                                <span class="free">(50,000원이상 결제시 무료배송)</span>
                            </p>
                        </div>
                    </div>

                    <div class="right__txt03">
                        <!-- 장바구니 클릭 시 수량 증감버튼 -->
                        <div class="cart">
                            <div class="inner">
                                <button id="minus">-</button>
                                <input id="amount" type="number" value="1" th:max="${detail.stockQuantity}" min="1" readonly>
                                <button id="plus">+</button>
                            </div>
                            <input id="quantity" type="hidden" th:value="${detail.stockQuantity}">
                            <span data-th-text="'남은 수량' + ${detail.stockQuantity} + '개'"></span>
                        </div>

                        <div class="right__txt03__01">
                            <span>총 상품 금액</span>
                            <span id="total" data-th-text="${#numbers.formatInteger(detail.afterDiscount, 3, 'COMMA') + '원'}"></span>
                        </div>

                        <div class="right__txt03__02">
                            <span>배송비</span>
                            <span th:if="${detail.afterDiscount >= 50000}">무료</span>
                            <span th:unless="${detail.afterDiscount >= 50000}" id="deliveryFee">3000원</span>
                        </div>

                    </div>

                    <div class="right__buttons">
                        <button id="detailCart">장바구니</button>
                        <button id="buy">바로구매</button>
                    </div>

                    <!-- 장바구니에 담겼습니다. 모달 창 -->
                    <div id="cartModal" class="txt04 right__modal" style="display: none;">
                        <div class="inner">

                            <h4>알림</h4>

                            <h5>
                                <span>장바구니에 담겼습니다.</span>

                                <div class="buttons">
                                    <a>
                                        <button id="stay">계속 쇼핑하기</button>
                                    </a>

                                    <a href="/user/cart">
                                        <button>장바구니로 이동</button>
                                    </a>
                                </div>

                            </h5>

                        </div>
                    </div>

                    <!-- 최대수량입니다 모달 창 -->
                    <div id="maxModal" class="txt04 right__modal" style="display: none;">
                        <div class="inner">

                            <h4>알림</h4>

                            <h5>
                                <span>최대 수량을 초과해서 담을 수 없습니다.</span>

                                <div class="buttons">
                                    <a>
                                        <button id="stay2">계속 쇼핑하기</button>
                                    </a>

                                    <a href="/user/cart">
                                        <button>장바구니로 이동</button>
                                    </a>
                                </div>

                            </h5>

                        </div>
                    </div>

                </div>
            </div>

            <div class="box02">
                <a href="#" onclick="return false;">
                    <div class="detailed__info">
                        <p>상세정보</p>
                    </div>
                </a>


                <a href="#" onclick="return false;">
                    <div class="review">
                        <p>상품리뷰</p>
                    </div>
                </a>

            </div>

            <div class="box03" id="sec1">
                <div id="content" th:utext="${detail.content}"></div>
            </div>

            <div class="box03" id="sec2" style="display: none">
                <ul>
                    <li>
                        <span class="id">Chan****</span>
                        <span class="date">2023. 07. 17</span>

                        <p>
                            배송빨라서 좋았어요! <br>
                            몇개는 상했고 대부분 괜찮았어요 ㅎㅎ <br>
                            베트남에서 너무 맛있어서 사봤는데 역시 맛있네요.

                            <button>답글달기</button>
                        </p>
                    </li>
                    <li class="seller">
                        <span class="id">판매자</span>
                        <span class="date">2023. 07. 17</span>

                        <p>
                            고객님 소중한 리뷰 작성 감사합니다^^ <br>
                            앞으로도 더 좋은 품질의 상품들로 찾아뵙겠습니다! <br>
                            다음에도 또 이용해주세요~!

                        </p>
                    </li>
                    <li>
                        <span class="id">Chan****</span>
                        <span class="date">2023. 07. 17</span>

                        <p>
                            배송빨라서 좋았어요! <br>
                            몇개는 상했고 대부분 괜찮았어요 ㅎㅎ <br>
                            베트남에서 너무 맛있어서 사봤는데 역시 맛있네요.

                            <button>답글달기</button>
                        </p>
                    </li>
                    <li>
                        <span class="id">Chan****</span>
                        <span class="date">2023. 07. 17</span>

                        <p>
                            배송빨라서 좋았어요! <br>
                            몇개는 상했고 대부분 괜찮았어요 ㅎㅎ <br>
                            베트남에서 너무 맛있어서 사봤는데 역시 맛있네요.

                            <button>답글달기</button>
                        </p>
                    </li>
                    <li>
                        <span class="id">Chan****</span>
                        <span class="date">2023. 07. 17</span>

                        <p>
                            배송빨라서 좋았어요! <br>
                            몇개는 상했고 대부분 괜찮았어요 ㅎㅎ <br>
                            베트남에서 너무 맛있어서 사봤는데 역시 맛있네요.

                            <button>답글달기</button>
                        </p>
                    </li>
                </ul>

                <div class="pagination">
                    <a href="#" class="prev">
                        <span class="material-symbols-outlined">
                            chevron_left
                        </span>
                    </a>

                    <p class="numbers">
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">
                            <span class="bold">4</span>
                        </a>
                        <a href="#">5</a>
                    </p>

                    <a href="#" class="next">
                        <span class="material-symbols-outlined">
                            chevron_right
                        </span>
                    </a>
                </div>
            </div>

        </div>
    </section>

<!--    주문 form-->
    <form th:action="@{/order/{userId}(userId = ${userId})}" method="get" class="order_form">

        <input type="hidden" name="orders[0].productId" th:value="${productId}">
        <input type="hidden" name="orders[0].amount" value="">
    </form>

    <div th:insert="~{fragment/user/footer.html :: copy}"></div>
</body>


</html>