<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프룻프룻 쇼핑몰</title>

    <!--Open Graph-->
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="프룻프룻 Shopping Mall" />
    <meta property="og:title" content="프룻프룻 Shopping Mall" />
    <meta property="og:description" content="프룻프룻 Shopping Mall 입니다." />
    <meta property="og:image" content="./img/openGraph.png" />
    <meta property="og:url" content="https://prpr-shopping-mall.co.kr" />

    <!--파비콘-->
    <link rel="icon" href="./favicon.ico" />

    <th:block th:insert="~{includes/library}"></th:block>
    <th:block th:insert="~{includes/style}"></th:block>
    <th:block th:insert="~{includes/scripts}"></th:block>
</head>

<body>

    <!-- HEADER -->
    <div th:insert="~{fragment/user/header.html :: copy}"></div>

    <section id="review">
        <div class="inner detail__inner">

            <div class="box01">
                <div class="left">
                    <img src="../../../../../../Fruit-Publish/Fruit-Publish-master/img/상세페이지_망고스틴.png" alt="망고스틴 상세페이지">
                </div>

                <div class="right">

                    <div class="right__txt01">
                        <h2> (직수입) 태국 열대과일 생과 망고스틴 1kg 2kg </h2>
                        <span class="material-icons red__heart">favorite</span>
                    </div>

                    <div class="right__txt02">
                        <div class="right__txt02__01">
                            <span>10%</span>
                            <p>
                                <span>35,000원</span>
                                <span>27,000원</span>
                            </p>
                        </div>

                        <div class="right__txt02__02">
                            <p>배송비 3,000원
                                <span class="free">(50,000원이상 결제시 무료배송)</span>
                            </p>
                        </div>
                    </div>

                    <div class="right__txt03">
                        <!-- 장바구니 클릭 시 수량 증감버튼 -->
                        <div class="cart">
                            <div class="inner">
                                <button>-</button>
                                <input type="text" value="2">
                                <button>+</button>
                            </div>
                            <span>남은수량 999개</span>
                        </div>

                        <div class="right__txt03__01">
                            <span>총 상품 금액</span>
                            <span>54,000원</span>
                        </div>

                        <div class="right__txt03__02">
                            <span>배송비</span>
                            <span>무료</span>
                        </div>

                    </div>

                    <div class="right__buttons">
                        <button>장바구니</button>
                        <button>바로구매</button>
                    </div>

                    <!-- 장바구니에 담겼습니다. 모달 창 -->
                    <div class="txt04 right__modal" style="display: none;">
                        <div class="inner">

                            <h4>알림</h4>

                            <h5>
                                <span>장바구니에 담겼습니다.</span>

                                <div class="buttons">
                                    <a href="./detail.html">
                                        <button>계속 쇼핑하기</button>
                                    </a>

                                    <a href="#">
                                        <button>장바구니로 이동</button>
                                    </a>
                                </div>

                            </h5>

                        </div>
                    </div>

                </div>
            </div>

            <div class="box02">
                <a href="./detail.html">
                    <div class="detailed__info">
                        <p>상세정보</p>
                    </div>
                </a>


                <a href="./review.html">
                    <div class="review">
                        <p>상품리뷰</p>
                    </div>
                </a>


                <a href="#">
                    <div class="question">
                        <p>상품문의</p>
                    </div>
                </a>

            </div>

            <div class="write">
                <button>
                    <span class="material-symbols-outlined">rate_review</span>
                    <span>리뷰작성하기</span>
                </button>




                <!-- 리뷰작성 모달 창 -->
                <div class="review__modal" style="display: none;">
                    <div class="inner">

                        <h4>알림</h4>

                        <div class="modal__wrap">
                            <h5>상품에 대한 리뷰를 남겨주세요.</h5>

                            <input type="text" placeholder="10자 이상 500자 미만으로 작성해주세요.">
                            <span class="count">15/500</span>


                            <div class="review__buttons">
                                <button class="review__cancel">
                                    <a href="#">작성취소</a>
                                </button>

                                <button class="review__confirm">
                                    <a href="#">리뷰등록</a>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- 리뷰작성 취소 모달 창 -->
                <div class="review__cancel__modal" style="display: none;">
                    <div class="inner">

                        <h4>알림</h4>

                        <div class="cancel__modal__wrap">
                            <h5>작성중인 내용이 모두 삭제됩니다. <br>
                                취소 하시겠습니까?</h5>


                            <div class="review__buttons">
                                <button class="review__cancel">
                                    <a href="#">취소하기</a>
                                </button>

                                <button class="review__confirm">
                                    <a href="#">계속작성</a>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- 리뷰작성 완료 모달 창 -->
                <div class="review__confirm__modal" style="display: none;">
                    <div class="inner">

                        <h4>알림</h4>

                        <div class="confirm__modal__wrap">
                            <h5>리뷰 작성이 완료 되었습니다.</h5>


                            <div class="review__buttons">
                                <button class="review__confirm">
                                    <a href="#">확인</a>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="box03">
                <ul>
                    <li>
                        <span class="id">Chan****</span>
                        <span class="date">2023. 07. 17</span>

                        <p>
                            배송빨라서 좋았어요! <br>
                            몇개는 상했고 대부분 괜찮았어요 ㅎㅎ <br>
                            베트남에서 너무 맛있어서 사봤는데 역시 맛있네요.

                            <button>답글달기</button>
                        </p>
                    </li>
                    <li class="seller">
                        <span class="id">판매자</span>
                        <span class="date">2023. 07. 17</span>

                        <p>
                            고객님 소중한 리뷰 작성 감사합니다^^ <br>
                            앞으로도 더 좋은 품질의 상품들로 찾아뵙겠습니다! <br>
                            다음에도 또 이용해주세요~!

                        </p>
                    </li>
                    <li>
                        <span class="id">Chan****</span>
                        <span class="date">2023. 07. 17</span>

                        <p>
                            배송빨라서 좋았어요! <br>
                            몇개는 상했고 대부분 괜찮았어요 ㅎㅎ <br>
                            베트남에서 너무 맛있어서 사봤는데 역시 맛있네요.

                            <button>답글달기</button>
                        </p>
                    </li>
                    <li>
                        <span class="id">Chan****</span>
                        <span class="date">2023. 07. 17</span>

                        <p>
                            배송빨라서 좋았어요! <br>
                            몇개는 상했고 대부분 괜찮았어요 ㅎㅎ <br>
                            베트남에서 너무 맛있어서 사봤는데 역시 맛있네요.

                            <button>답글달기</button>
                        </p>
                    </li>
                    <li>
                        <span class="id">Chan****</span>
                        <span class="date">2023. 07. 17</span>

                        <p>
                            배송빨라서 좋았어요! <br>
                            몇개는 상했고 대부분 괜찮았어요 ㅎㅎ <br>
                            베트남에서 너무 맛있어서 사봤는데 역시 맛있네요.

                            <button>답글달기</button>
                        </p>
                    </li>
                </ul>

                <div class="pagination">
                    <a href="#" class="prev">
                        <span class="material-symbols-outlined">
                            chevron_left
                        </span>
                    </a>

                    <p class="numbers">
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">
                            <span class="bold">4</span>
                        </a>
                        <a href="#">5</a>
                    </p>

                    <a href="#" class="next">
                        <span class="material-symbols-outlined">
                            chevron_right
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <div th:insert="~{fragment/user/footer.html :: copy}"></div>
</body>

</html>