<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프룻프룻 쇼핑몰</title>

    <!--Open Graph-->
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="프룻프룻 Shopping Mall"/>
    <meta property="og:title" content="프룻프룻 Shopping Mall"/>
    <meta property="og:description" content="프룻프룻 Shopping Mall 입니다."/>
    <meta property="og:image" content="/user/img/openGraph.png"/>
    <meta property="og:url" content="https://prpr-shopping-mall.co.kr"/>

    <!--파비콘-->
    <link rel="icon" href="/user/favicon.ico"/>

    <th:block th:insert="~{includes/library}"></th:block>
    <th:block th:insert="~{includes/style}"></th:block>
    <th:block th:insert="~{includes/scripts}"></th:block>

</head>

<body>

<!-- HEADER -->
<div th:insert="~{fragment/user/header.html :: copy}"></div>

<!-- VISUAL -->
<section id="visual">
    <div class="promotion">
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="/user/img/1.png" alt="1번 슬라이드"/>
                </div>
                <div class="swiper-slide">
                    <img src="/user/img/2.png" alt="2번 슬라이드"/>
                </div>
                <div class="swiper-slide">
                    <img src="/user/img/3.png" alt="3번 슬라이드"/>
                </div>
                <div class="swiper-slide">
                    <img src="/user/img/4.png" alt="4번 슬라이드"/>
                </div>
                <div class="swiper-slide">
                    <img src="/user/img/5.png" alt="5번 슬라이드"/>
                </div>
                <div class="swiper-slide">
                    <img src="/user/img/6.png" alt="6번 슬라이드"/>
                </div>
            </div>
        </div>

        <!-- 슬라이드 좌측, 우측 화살표 -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>


        <!-- 슬라이드 페이지버튼 -->
        <div class="swiper-pagination"></div>

    </div>
</section>

<!-- 검색창 -->
<section id="search">
    <div class="inner">

        <!-- 검색창 -->
        <input type="text" placeholder="상품명 검색" id="searchKeyword">

        <!-- 돋보기 아이콘 -->
        <span class="material-icons" id="searchBtn">search </span>

        <!-- 필터 -->
        <div class="buttons">
            <button class="category-btn" value="봄과일">봄과일</button>
            <button class="category-btn" value="여름과일">여름과일</button>
            <button class="category-btn" value="가을과일">가을과일</button>
            <button class="category-btn" value="겨울과일">겨울과일</button>
        </div>

    </div>
</section>

<div th:object="${user}" id="aside">
    <!-- id -->
    <input type="hidden" th:field="*{id}" id="userId">

    <div class="sidebar">
        <ul>

            <!-- 마이페이지 -->
            <li>
                <a href="#">
                    <span class="material-symbols-outlined">person</span>
                    <p th:text="*{nickname}"></p>
                </a>

                <div class="line"></div>
            </li>


            <!-- 장바구니 -->
            <li class="right__cart">
                <a href="#">
                    <span class="material-symbols-outlined">shopping_cart</span>
                    <p>장바구니</p>
                    <div class="cart__count">5</div>
                </a>
            </li>

            <!-- 찜 -->
            <li class="right__favorite">
                <a href="#">
                    <span class="material-icons">favorite</span>
                    <p>찜</p>
                    <div class="favorite__count">3</div>
                </a>

                <div class="line"></div>
            </li>

            <!-- 최근 본 상품 -->
            <li class="last">
                <a href="#">
                    <p>최근 본 상품</p>
                    <img src="/user/img/복숭아사진.jpeg" alt="복숭아사진">
                    <img src="/user/img/배사진.png" alt="배사진">
                    <img src="/user/img/오렌지사진.jpg" alt="오렌지사진">
                    <span class="material-symbols-outlined">keyboard_double_arrow_up</span>
                    <p>맨위로</p>
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- 상품리스트 -->
<section id="products">

    <div class="inner">

        <!-- 상품 리스트 -->
        <ul id="product_list">
            <li th:each="product : ${list.list}">
                <a th:href="@{/user/product/{id}/detail(id = ${product.id})}">
                    <img th:src="${product.url}">

                    <div class="icons">

                        <span th:if="${product.like_id == 0}" class="material-symbols-outlined" th:value="${product.id}" id="like_x">favorite</span>
                        <span th:unless="${product.like_id == 0}" class="material-icons red__heart" th:value="${product.id}" id="like_o">favorite</span>

                        <span class="material-symbols-outlined" th:value="${product.id}" id="cart">shopping_cart</span>
                    </div>

                    <div class="txt">
                        <div class="title">
                            <span th:text="${product.name}"></span>
                        </div>
                        <div class="price" th:text="${product.price + '원'}">
                        </div>
                    </div>
                </a>
            </li>
        </ul>

    </div>

    <div class="pagination" id="pagination">
        <a href='javascript:void(0)'>
            <span class="material-symbols-outlined" id="prev">
                chevron_left
            </span>
        </a>

        <p class="numbers" id="numbers">
            <a th:each="i : ${list.navigatepageNums}"
               th:text="${i}"
               th:class="${i == list.pageNum} ? 'active'"
               th:style="${i == list.pageNum} ? ${'font-weight:bold;'}"
               th:data-value="${i}" id="pageNum"
               href='javascript:void(0)'></a>
        </p>

        <a class="material-symbols-outlined" id="next" th:data-value="${list.pages}" href='javascript:void(0)'>
                <span class="material-symbols-outlined">
                    chevron_right
                </span>
        </a>
    </div>
</section>


<div th:insert="~{fragment/user/footer.html :: copy}"></div>

</body>

</html>